<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>表单错误提示</title>
		<style type="text/css">
			.red{
				color: red;
			}
		</style>
	</head>
	<body>
		<div ng-controller="Aaa">
			<form name="oForm">
				<div>
					<label>账号:</label>
					<input type="text" name="unText" 
						placeholder="请输入账号" required 
						ng-pattern="/^[a-zA-Z]+$/" 
						ng-model="oFormText.un" 
						ng-blur="oFormText.change(oForm.unText.$error)"/>
					<!--ng-blur=""聚焦-->
					
					<!--<span class="red" ng-repeat="FM in oFormText.oFormList | filter: oFormText.oFormVal">{{FM.tips}}</span>-->
					<!--步骤一: 静态方法改变,循环得到每一个-->
					<!--用筛选方法filter,只让默认文字'default'显示对应的提示'请输入账号'-->
					
					<span class="red" ng-repeat="FM in oFormText.oFormList | filter: oFormText.oFormVal">{{FM.tips}}</span>
					<!--步骤二: 动态方法获取值-->
					<!--用筛选方法filter,在数据中添加一条oFormVal: 'default', 通过这条内容筛选对应的提示-->
					
					<!--步骤三: 添加条件和触发事件-->
					<!--required: 为空判断, ng-pattern="/^[a-zA-Z]+$/", 正则判断 ng-blur-->
				</div>
				
				<div>
					<label>密码:</label>
					<input type="password" name="unPassword" 
						placeholder="请输入密码" required 
						ng-minlength="6"
						ng-pattern="/^\w+$/" 
						ng-model="oFormPassword.un" 
						ng-blur="oFormPassword.change(oForm.unPassword.$error)"/>
						
					<span class="red" ng-repeat="FM in oFormPassword.oFormList | filter: oFormPassword.oFormVal">{{FM.tips}}</span>
				</div>
			</form>
		</div>
		
		<script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
			var m1 = angular.module('myApp',[]);
			m1.controller('Aaa',function($scope){
				$scope.oFormText = {
					oFormVal: 'default',
					oFormList: [
						{name: "default",tips : "请输入账号"},
						{name: "required",tips : "账号不能为空"},
						{name: "pattern",tips : "请输入英文"},
						{name: "ok",tips : "√"}
					],
					change: function(err){
						console.log(err);
						//值为false时候是通过验证,为true是验证失败
						for(var attr in err){
							//console.log(err[attr]);
							if (err[attr] == true) {
								//if判断attr是否为true
								this.oFormVal = attr;
								//如果是true就给oFormVal进行重新赋值
								return;
								//结束
							}
						}
						this.oFormVal = 'ok';
						//如果if中的条件都不符合,那就说明验证通过
						//就给oFormVal进行重新赋值'ok'
					}
				};
				
				$scope.oFormPassword = {
					oFormVal: 'default',
					oFormList: [
						{name: "default",tips : "请输入密码"},
						{name: "required",tips : "密码不能为空"},
						{name: "pattern",tips : "密码只能为字母或数字"},
						{name: "minlength",tips : "密码不少于6位" },
						{name: "ok",tips : "√"}
					],
					change: function(err){
						console.log(err);
						//值为false时候是通过验证,为true是验证失败
						for(var attr in err){
							//console.log(err[attr]);
							if (err[attr] == true) {
								//if判断attr是否为true
								this.oFormVal = attr;
								//如果是true就给oFormVal进行重新赋值
								return;
								//结束
							}
						}
						this.oFormVal = 'ok';
						//如果if中的条件都不符合,那就说明验证通过
						//就给oFormVal进行重新赋值'ok'
					}
				};
			})
			
		</script>
	</body>
</html>
